<%= form_with(model: bixi, local: true) do |form| %>
  <% if bixi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bixi.errors.count, "error") %> prohibited this bixi from being saved:</h2>

      <ul>
      <% bixi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :station_id %>
    <%= form.text_field :station_id, id: :bixi_station_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bixi_name %>
  </div>

  <div class="field">
    <%= form.label :terminalName %>
    <%= form.text_field :terminalName, id: :bixi_terminalName %>
  </div>

  <div class="field">
    <%= form.label :lastCommWithServer %>
    <%= form.text_field :lastCommWithServer, id: :bixi_lastCommWithServer %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat, id: :bixi_lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long, id: :bixi_long %>
  </div>

  <div class="field">
    <%= form.label :installed %>
    <%= form.text_field :installed, id: :bixi_installed %>
  </div>

  <div class="field">
    <%= form.label :locked %>
    <%= form.text_field :locked, id: :bixi_locked %>
  </div>

  <div class="field">
    <%= form.label :installDate %>
    <%= form.text_field :installDate, id: :bixi_installDate %>
  </div>

  <div class="field">
    <%= form.label :removalDate %>
    <%= form.text_field :removalDate, id: :bixi_removalDate %>
  </div>

  <div class="field">
    <%= form.label :temporary %>
    <%= form.text_field :temporary, id: :bixi_temporary %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.text_field :public, id: :bixi_public %>
  </div>

  <div class="field">
    <%= form.label :nbBikes %>
    <%= form.text_field :nbBikes, id: :bixi_nbBikes %>
  </div>

  <div class="field">
    <%= form.label :nbEmptyDocks %>
    <%= form.text_field :nbEmptyDocks, id: :bixi_nbEmptyDocks %>
  </div>

  <div class="field">
    <%= form.label :lastUpdateTime %>
    <%= form.text_field :lastUpdateTime, id: :bixi_lastUpdateTime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
