<%= form_with(model: bixi, local: true) do |form| %>
  <% if bixi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bixi.errors.count, "error") %> prohibited this bixi from being saved:</h2>

      <ul>
      <% bixi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :station_id %>
    <%= form.number_field :station_id, id: :bixi_station_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :bixi_name %>
  </div>

  <div class="field">
    <%= form.label :terminalName %>
    <%= form.number_field :terminalName, id: :bixi_terminalName %>
  </div>

  <div class="field">
    <%= form.label :lastCommWithServer %>
    <%= form.date_select :lastCommWithServer, id: :bixi_lastCommWithServer %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :bixi_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :bixi_longitude %>
  </div>

  <div class="field">
    <%= form.label :installed %>
    <%= form.check_box :installed, id: :bixi_installed %>
  </div>

  <div class="field">
    <%= form.label :locked %>
    <%= form.check_box :locked, id: :bixi_locked %>
  </div>

  <div class="field">
    <%= form.label :installDate %>
    <%= form.date_select :installDate, id: :bixi_installDate %>
  </div>

  <div class="field">
    <%= form.label :removalDate %>
    <%= form.date_select :removalDate, id: :bixi_removalDate %>
  </div>

  <div class="field">
    <%= form.label :temporary %>
    <%= form.check_box :temporary, id: :bixi_temporary %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public, id: :bixi_public %>
  </div>

  <div class="field">
    <%= form.label :nbBikes %>
    <%= form.number_field :nbBikes, id: :bixi_nbBikes %>
  </div>

  <div class="field">
    <%= form.label :nbEmptyDocks %>
    <%= form.number_field :nbEmptyDocks, id: :bixi_nbEmptyDocks %>
  </div>

  <div class="field">
    <%= form.label :lastUpdateTime %>
    <%= form.date_select :lastUpdateTime, id: :bixi_lastUpdateTime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
