<p id="notice"><%= notice %></p>

<h1>Bixi Finder</h1>

<h4>ORIGIN => FX INNOVATION location: <%= FX_INNOVATION_LATITUDE %>,<%= FX_INNOVATION_LONGITUDE %></h4>
<p><%= Geocoder.search("#{FX_INNOVATION_LATITUDE},#{FX_INNOVATION_LONGITUDE}").first.address %></p>

<h4>CLOSEST AVAILABLE BIKE:</h4>
<p> Distance: <%= @closest_bike_station.distance.round(2) %> km.</p>
<p> Address:  <%= @closest_bike_station.address %></p>
<p> NUMBER OF BIKES AVAILABLE AT THIS LOCATION: <%= @closest_bike_station.nbBikes %></p>
<p> Last update:  <%= @closest_bike_station.updated_at.to_s %></p>

<table>
  <thead>
    <tr>
      <th>Station</th>
      <th>Name</th>
      <th>DISTANCE (km)</th>
      <th>Address</th>
      <th>Nbbikes</th>
      <th>Nbemptydocks</th>
      <th>Terminalname</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Installed</th>
      <th>Locked</th>
      <th>Lastcommwithserver</th>
      <th>Installdate</th>
      <th>Removaldate</th>
      <th>Temporary</th>
      <th>Public</th>
      <th>Lastupdatetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bixis.each do |bixi| %>
      <tr>
        <td><%= bixi.station_id %></td>
        <td><%= bixi.name %></td>
        <td style='font-weight:bold;'><%= bixi.distance.round(2) %></td>
        <td><%= bixi.address %></td>
        <td><%= bixi.nbBikes %></td>
        <td><%= bixi.nbEmptyDocks %></td>
        <td><%= bixi.terminalName %></td>
        <td><%= bixi.latitude %></td>
        <td><%= bixi.longitude %></td>
        <td><%= bixi.installed %></td>
        <td><%= bixi.locked %></td>
        <td><%= bixi.lastCommWithServer %></td>
        <td><%= bixi.installDate %></td>
        <td><%= bixi.removalDate %></td>
        <td><%= bixi.temporary %></td>
        <td><%= bixi.public %></td>
        <td><%= bixi.lastUpdateTime %></td>
        <td><%= link_to 'Show', bixi %></td>
        <td><%= link_to 'Edit', edit_bixi_path(bixi) %></td>
        <td><%= link_to 'Destroy', bixi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bixi', new_bixi_path %>
